.card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: var(--maxWidth-xs);
    margin: var(--spacing-4);
    position: relative;
}

.card-body {
    padding: var(--spacing-5);
}

.card-body div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgb(94, 94, 94)
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.card-text {
    font-size: 16px;
    margin-bottom: 0;
}

.article-tags {
    text-align: end;
    margin-bottom: 0;
    padding-top: 10px;
    color: rgb(94, 94, 94);
}

.card-title>a:hover {
    color: var(--color-link-hover)
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .overlay {
    opacity: 0.2;
}

div.read-time {
    display: flex;
    justify-content: flex-end !important;
    width: 90% !important;
}