ol,
ul {
  list-style-position: inside;
}

code.grvsc-code,
code[class*='language-'],
pre[class*='language-'] {
  font-size: 0.95rem;
}

pre[class*='language-'] {
  border-radius: 0.25rem;
  margin: 0;
}

:not(pre) > code[class*='language-'] {
  padding-inline: 0.35rem;
  background-color: #e6e6fa;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}

h1 {
  margin-top: var(--spacing-0);
}

p {
  margin-bottom: var(--spacing-6);
  font-family: var(--fontFamily-sans);
}



