.wide-card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.wide-card div {
    width: 50%;
}

.wide-card-body {
    padding: 20px;
}

.wide-card-body div {
    display: flex;
    justify-content: space-between;
    color: rgb(94, 94, 94);
    width: 100%;
    padding-bottom: 0.6em;
}

.wide-card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.wide-card-text {
    font-size: 16px;
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.wide-card:hover .overlay {
    opacity: 0.2;
}

.article-tags {
    text-align: end;
    margin-bottom: 0;
    padding-top: 10px;
    color: rgb(94, 94, 94);
}