.pill {
    border: var(--surface4);
    background-color: var(--surface4);
    color: var(--text2);
    border-radius: 1.25rem;
    padding: var(--spacing-1) var(--spacing-3);
    font-weight: var(--fontWeight-bold);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-1);
    transition: opacity 300ms linear;
}

.pill:hover {
    opacity: 0.75;
}

a.pill {
    text-decoration: none;
    color: var(--text2);
}