:root {
    /* Width */
    --maxWidth-none: "none";
    --maxWidth-xs: 20rem;
    --maxWidth-sm: 24rem;
    --maxWidth-md: 28rem;
    --maxWidth-lg: 32rem;
    --maxWidth-xl: 36rem;
    --maxWidth-2xl: 72rem;
    --maxWidth-3xl: 78rem;
    --maxWidth-4xl: 86rem;
    --maxWidth-full: "100%";
    --maxWidth-wrapper: var(--maxWidth-2xl);
    /* Spacing */
    --spacing-px: "1px";
    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-32: 8rem;
    /* Font */
    --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
        Times, serif;
    --font-body: var(--fontFamily-serif);
    --font-heading: var(--fontFamily-sans);
    --fontWeight-normal: 400;
    --fontWeight-bold: 700;
    --fontWeight-black: 900;
    --fontSize-root: 16px;
    /* Line height */
    --lineHeight-none: 1;
    --lineHeight-tight: 1.1;
    --lineHeight-normal: 1.5;
    --lineHeight-relaxed: 1.625;

    /* 1.200 Minor Third Type Scale */
    --fontSize-0: 0.833rem;
    --fontSize-1: 1rem;
    --fontSize-2: 1.2rem;
    --fontSize-3: 1.44rem;
    --fontSize-4: 1.728rem;
    --fontSize-5: 2.074rem;
    --fontSize-6: 2.488rem;
    --fontSize-7: 2.986rem;
    /* --color-primary: #005b99;
    --color-text: #2e353f;
    --color-text-light: #4f5969;
    --color-heading: #1a202c;
    --color-heading-black: black;
    --color-accent: #d1dce5;
    --color-link-hover: #005b99; */


    --brand-primary: darkgreen;
    /* Primary brand color */
    --brand-secondary: gold;
    /* Secondary brand color */
    --brand-text: black;
    /* Primary text color */

    --brand-primary-hsl: hsl(120 100% 19.608%);
    --brand-primary-hue: 120;
    --brand-primary-saturation: 100%;
    --brand-primary-lightness: 19.608%;

    --brand-secondary-hsl: hsl(51, 100, 50);
    --brand-secondary-hue: 51;
    --brand-secondary-saturation: 100%;
    --brand-secondary-lightness: 50%;

    --brand-text-hsl: hsl(0, 0, 0);
    --brand-text-hue: 0;
    --brand-text-saturation: 0%;
    --brand-text-lightness: 0%;

    /** LIGHT MODE */
    /* Brand */
    --brand-light: hsl(var(--brand-primary-hue) var(--brand-primary-saturation) var(--brand-primary-lightness));
    /* Text color */
    --text1-regular-light: hsl(var(--brand-text-hue) var(--brand-text-saturation) 100%);
    --text2-regular-light: hsl(var(--brand-text-hue) var(--brand-text-saturation) 10%);
    --text1-heading-light: hsl(var(--brand-primary-hue) var(--brand-primary-saturation) 100%);
    --text2-heading-light: hsl(var(--brand-primary-hue) var(--brand-primary-saturation) 10%);
    /* Surface */
    --surface1-light: hsl(var(--brand-secondary-hue) var(--brand-secondary-saturation) var(--brand-secondary-lightness));
    --surface2-light: hsl(var(--brand-secondary-hue) 25% 90%);
    --surface3-light: hsl(var(--brand-secondary-hue) 20% 99%);
    --surface4-light: hsl(var(--brand-secondary-hue) 20% 75%);
    /* Shadows */
    --surface-shadow-light: var(--brand-secondary-hue) 10% 20%;
    --shadow-strength-light: .02;

    /** DARK MODE */
    /* Brand */
    --brand-dark: hsl(var(--brand-primary-hue) calc(var(--brand-primary-saturation) / 2) calc(var(--brand-primary-lightness) / 1.5));
    /* Text color */
    --text1-regular-dark: hsl(var(--brand-text-hue) 15% 85%);
    --text2-regular-dark: hsl(var(--brand-text-hue) 5% 65%);
    --text1-heading-dark: hsl(var(--brand-primary-hue) 15% 85%);
    --text2-heading-dark: hsl(var(--brand-primary-hue) 5% 65%);
    /* Surface colors are the background, borders and other decorative surfaces that text sits upon. */
    --surface1-dark: hsl(var(--brand-secondary-hue) 10% 10%);
    --surface2-dark: hsl(var(--brand-secondary-hue) 10% 15%);
    --surface3-dark: hsl(var(--brand-secondary-hue) 5% 20%);
    --surface4-dark: hsl(var(--brand-secondary-hue) 5% 25%);
    /* Shadows */
    --surface-shadow-dark: var(--brand-secondary-hue) 50% 3%;
    --shadow-strength-dark: .8;

}

@media (prefers-color-scheme: light) {

    /** LIGHT MODE */
    .site-theme {
        color-scheme: light;

        --brand: var(--brand-light);
        --text1: var(--text1-regular-light);
        --text2: var(--text2-regular-light);
        --heading1: var(--text1-heading-light);
        --heading2: var(--text2-heading-light);
        --surface1: var(--surface1-light);
        --surface2: var(--surface2-light);
        --surface3: var(--surface3-light);
        --surface4: var(--surface4-light);
        --surface-shadow: var(--surface-shadow-light);
        --shadow-strength: var(--shadow-strength-light);
    }
}

@media (prefers-color-scheme: dark) {

    /** DARK MODE */
    .site-theme {
        color-scheme: dark;

        --brand: var(--brand-dark);
        --text1: var(--text1-regular-dark);
        --text2: var(--text2-regular-dark);
        --heading1: var(--text1-heading-dark);
        --heading2: var(--text2-heading-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
        --surface-shadow: var(--surface-shadow-dark);
        --shadow-strength: var(--shadow-strength-dark);
    }
}