/**
 * Utility classes
 */
 @import url("./css/card.css");
 @import url("./css/pill.css");


.thin-margin {
    margin: 0 0 10px 0;
}

.remove-margin {
    margin: 0;
}

.remove-padding {
    padding: 0;
}

.brand {
    color: var(--brand);
    background-color: var(--brand);
}

.surface1 {
    background-color: var(--surface1);
    color: var(--text2);
}

.surface2 {
    background-color: var(--surface2);
    color: var(--text2);
}

.surface3 {
    background-color: var(--surface3);
    color: var(--text1);
}

.surface4 {
    background-color: var(--surface4);
    color: var(--text1);
}

.rad-shadow {
    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: 0 1rem .5rem -.5rem;
    box-shadow:
        0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
        0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
        0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
        0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
        0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
        0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

/* Padding */
.padding0 {
    padding: var(--spacing-0);
}

.padding5 {
    padding: var(--spacing-5);
}

.padding-block-0 {
    padding-block: var(--spacing-0);
}

.padding-block-1 {
    padding-block: var(--spacing-1);
}

.padding-block-2 {
    padding-block: var(--spacing-2);
}

.padding-block-3 {
    padding-block: var(--spacing-3);
}

.padding-block-4 {
    padding-block: var(--spacing-4);
}

.padding-block-5 {
    padding-block: var(--spacing-5);
}

.padding-inline-0 {
    padding-inline: var(--spacing-0);
}

.padding-inline-1 {
    padding-inline: var(--spacing-1);
}

.padding-inline-2 {
    padding-inline: var(--spacing-2);
}

.padding-inline-3 {
    padding-inline: var(--spacing-3);
}

.padding-inline-4 {
    padding-inline: var(--spacing-4);
}

.padding-inline-5 {
    padding-inline: var(--spacing-5);
}

/* Margins */
.margin0 {
    margin: var(--spacing-0);
}

.margin1 {
    margin: var(--spacing-1);
}

.margin2 {
    margin: var(--spacing-2);
}

.margin3 {
    margin: var(--spacing-3);
}

.margin4 {
    margin: var(--spacing-4);
}

.margin5 {
    margin: var(--spacing-5);
}

.margin-bottom-1 {
    margin-bottom: var(--spacing-1);
}

.margin-bottom-2 {
    margin-bottom: var(--spacing-2);
}

.margin-bottom-3 {
    margin-bottom: var(--spacing-3);
}

.margin-block-0 {
    margin-block: var(--spacing-0);
}

.margin-block-1 {
    margin-block: var(--spacing-1);
}

.margin-block-2 {
    margin-block: var(--spacing-2);
}

.margin-block-3 {
    margin-block: var(--spacing-3);
}

.margin-block-4 {
    margin-block: var(--spacing-4);
}

.margin-block-5 {
    margin-block: var(--spacing-5);
}

.margin-inline-0 {
    margin-inline: var(--spacing-0);
}

.margin-inline-1 {
    margin-inline: var(--spacing-1);
}

.margin-inline-2 {
    margin-inline: var(--spacing-2);
}

.margin-inline-3 {
    margin-inline: var(--spacing-3);
}

.margin-inline-4 {
    margin-inline: var(--spacing-4);
}

.margin-inline-5 {
    margin-inline: var(--spacing-5);
}

/* Flex */
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

/* Headings */
.heading {
    color: var(--heading1);
}

/* Text */
.text-1 {
    font-size: var(--fontSize-1);
    line-height: var(--lineHeight-normal);
}

.text-2 {
    color: var(--text2);
}

/* Widths */
.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-50 {
    width: 50%;
}

/* Lists */
.list-none {
    list-style: none;
}
