/**
 * Utility classes
 */
@import url("./css/card.css");
@import url("./css/pill.css");
@import url("./css/shadows.css");
@import url("./css/padding.css");
@import url("./css/margin.css");
@import url("./css/flex.css");
@import url("./css/border.css");
@import url("./css/text.css");
@import url("./css/colors.css");
@import url("./css/dims.css");

/* Headings */
.heading {
    color: var(--heading1);
}

/* Text */
.text-1 {
    font-size: var(--fontSize-1);
    line-height: var(--lineHeight-normal);
}

.text-2 {
    color: var(--text2);
}

/* Widths */
.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-50 {
    width: 50%;
}

/* Lists */
.list-none {
    list-style: none;
}

/* Gap */
.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

/* Z index */
.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

/* Position */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

